html, #root, #root > div{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto'
}
main{
    height: 100%;
}
body{
    height: 65%;
}
.mdc-list{
    width: 60%;
    margin: auto;
}

.surface{
    cursor: pointer;
}

.messages{
    display: flex;
    flex-direction: column;
}
.message>i{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
}
.message{
    display: flex;
    width: 50%;
    padding: 15px;
    align-items: center;
}
.user{
    flex-direction: row;
}
.bot{
    flex-direction: row-reverse;
}
.intent-list{
    overflow: auto;
}
.user-message{
    width: 100%;
    vertical-align: middle;
    line-height: 42px;
    padding-right: 20px;
    border-radius: 10%;
    border-radius: 5px; 
}
.user > .user-message{
    background-color: #EEEEEE;
    padding-left: 20px;
    text-align: left;
    color: #212121;
    margin-right: 20%;
}
.user > .user-message::before {
   /* content: "◂"; */
}
.bot > .user-message{
    background-color: rgba(136, 14, 79, .8);
    padding-right: 20px;
    text-align: right;
    color: #F5F5F5;
    margin-left: 20%;
}
.bot > .user-message:after {
    /* content: "►"; */
}
header.mdc-toolbar{
    background-image: url('https://i.imgur.com/1RGE7BX.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.centered{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-grid{
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
}
.menu-card{
    cursor: pointer;
    height: 160px;
    display: flex;
    margin: 10px;
    background-color: #EEEEEE;
    width: 350px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.menu-card:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.mdc-toolbar__title{
    cursor: pointer;
}
.menu-title{
    align-self: flex-end;
    width: 100%;
    padding: 10px;
    color:#F5F5F5;
    background-color: rgba(33,33,33,.3);
}

.users-card{
    background-image: url("/static/icons/users.png");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
}
.intents-card{
    background-image: url("/static/icons/light-bulb.png");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
}